li {
    list-style: none;
}

.main--container {
    padding: 0 7% 0 0;
    display: flex;
}

.menu--container {
    width: 85%;
    padding: 40px 130px 0 119px;
    display: flex;
    flex-direction: column;

    .MenuCard--item {
        img {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.main--container {
    margin-bottom: 100px;
}

.main--menu {
    margin: 0;
}

@media (min-width: 1441px) {
    .main--container {
        padding: 0 6%;
    }
}

@media (max-width: 1441px) {
    .main--container {
        padding: 0 6%;
    }

    .top--list-wrapper {
        padding: 0 6% !important;
    }
}

@media (max-width: 1050px) {
    .main--container {
        width: 100%;
    }

    .menu--container {
        padding: 40px 0 0 0;
    }
}

@media (max-width: 400px) {
    .main--container {
        margin: 0;
        padding: 0 7%;
    }
}