.slick-prev {
    left: 3% !important;
    z-index: 1;
}
.slick-next {
    right: 3% !important;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 56px !important;
    color: #fff;
    opacity: 1;
}

.slick-prev,
.slick-next {
    height: 46px !important;
}
.slider--wrapper {
    padding-left: 125px;
}
.slick-slider {
    margin-bottom: 40px;
    height: 270px;
    .slick-list {
        margin-bottom: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: left;
    }
}
.slick-track {
    margin-top: 10px;
    height: 250px;
    .slick-slide{
        display: flex;
        align-items: center;
        }
}


.slider--item {
    
    img {
        border-radius: 12px !important;
        box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 18%), 0 0 2px rgb(0 0 0 / 7%);
        width: 19.5vw !important;
        height: 12.5vw !important;

    }
    &:hover {
        transform: translate(0, -10px);
        transition: all 0.3s;
    }
}
