.MenuCard--wrapper {
    display: flex;
    flex-direction: column;

    .MenuCard--title {
        margin: 48px 0 16px 0;
    }

    .menu--card-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-top: 1px solid rgb(224, 224, 224);

        .MenuCard--item {
            font-size: 18px;
            display: flex;
            align-items: center;
            width: 50%;
            height: 112px;
            margin-top: 32px;

            img {
                margin-right: 10px;
            }
        }

        .column {
            flex-direction: column;
            width: 290px;
            height: 224px;
            justify-content: space-evenly;
            text-align: center;
        }
    }
}

@media (max-width: 1050px) {
    .MenuCard--item {
        img {
            width: 72px !important;
            height: 72px !important;
        }
    }
}

@media (max-width: 510px) {
    .menu--card-wrapper {
        flex-direction: column !important;
    }
}
@media (max-width: 400px) {
    .MenuCard--item {
        width: 100% !important;
        height: 80px !important;
    }
}
