@use  '../../utils/colors';

.active--catagori{
  padding-left: 125px;


  h2{
    font-size: 16px;
    cursor: pointer;
  }
}

.modal--item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 332px;
  box-sizing: border-box;
  background: colors.$dark;
  padding: 0 12%;

  img{
    height: 300px;
    width: 300px;
  }

  .item--text{
    color: white;
    font-weight: 600;
    font-size: 36px;
    padding-right: 100px;
    box-sizing: border-box;
  }
}

.item--customize{
  background: white;
  padding: 2rem 40px 0 131px;
  box-sizing: border-box;

  display: flex;

  .column-height{
    height: 500px;
    margin-left: 176px;
  }

  .customize--column{
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    cursor: pointer;

    .customize--items{
      max-width: 436px;
      width: 100%;
      max-height: 70px;
      height: 100%;
      border: 1px solid rgba(0,0,0,.38);
      border-radius: 10px;
      margin: 12px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span{
        display: block;
        padding: 0 16px;
        font-size: 19px;
        font-weight: 500;
      }
    }

    h4{
      font-size: 26px;
      font-weight: 600;
      box-sizing: border-box;
      padding-bottom: 12px;
      margin-bottom: 30px;

      border-bottom: 4px solid colors.$light_green;
    }

    .options--list{
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      box-sizing: border-box;
      margin-top: 30px;
      padding:0 40px;

      .cup--wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 115px;
        position: relative;
        z-index: 5;
      }

      .cup--title{
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
      }
      .short{
        background: url('../../imgs/cup.svg') no-repeat center;
        background-size: contain;
        width: 40px;
        height: 40px;
        opacity: 0.7;
      }

      .tall{
        background: url('../../imgs/cup.svg') no-repeat center;
        background-size: contain;
        width: 50px;
        height: 50px;
        opacity: 0.7;
      }

      .grande{
        background: url('../../imgs/cup.svg') no-repeat center;
        background-size: contain;
        width: 55px;
        height: 55px;
        opacity: 0.7;
      }
      .venti{
        background: url('../../imgs/cup.svg') no-repeat center;
        background-size: contain;
        width: 65px;
        height: 65px;
        opacity: 0.7;
      }
      .active{
        border: 2.3px solid colors.$dim_green;
        border-radius: 50%;
        position: relative;
        opacity: 1;
        z-index: -1;
        transition: background-color 0.3s ease;
        background-color: colors.$light_green;
      }

      .active::after{
        content: "";
        width: 30%;
        height: 30%;
        background-color: colors.$dark_green;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        left: 35%;
        bottom: 31%;
      }
    }
  }
}
