@use "../../utils/colors";
a{
  all: unset;
}
.header {
  min-height: 80px;
  max-height: 150px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background: white;

  .header--wrapper {
    display: flex;
    justify-content: space-between;
    width: 1440px;
  }
  .header--right {
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    justify-content: space-between;
  }

  .header--left {
    display: flex;
    align-items: center;
    max-width: 380px;
    width: 100%;
    justify-content: space-between;
  }

  .header-icon {
    margin-right: 40px;
    cursor: pointer;
    margin-top: 15px;
    width: 50px;
    height: 50px;
  }

  .header--navigation {
    display: flex;

    width: 100%;
    max-width: 300px;
    .navigation--list {
      display: inherit;
      justify-content: space-between;

      width: 100%;

      list-style: none;

      .navigation--list--item {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
      }

      .navigation--list--item:hover {
        color: colors.$dark_green;
      }
    }
  }

  .header--location {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    max-width: 109px;

    cursor: pointer;
    .location--pin {
      width: 23px;
      height: 23px;
    }

    .location--text {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .header--location:hover {
    filter: invert(17%) sepia(79%) saturate(6188%) hue-rotate(161deg) brightness(81%) contrast(98%);
  }
}
