@use "../../utils/colors";

.footer {
  border-top: 2px solid rgba(145, 139, 130, 0.35);
  margin-top: 48px;
  padding: 48px 7% 32px 2.7%;

  .footer--social-media {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 2px solid rgba(145, 139, 130, 0.35);
    padding: 32px 0 0 0;
    margin-top: 32px;

    .social-media--copy-rights {
      color: rgba(0, 0, 0, 0.58);
      margin: 24px 0 16px;
      font-weight: 500;
    }

    .social-media--list {
      display: flex;

      img {
        width: 34px;
        height: 34px;
      }
    }

    .social-media--rules {
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      font-weight: 500;
      font-size: 18px;
      width: 100%;
      margin-top: 16px;

      div {
        display: flex;
        box-sizing: border-box;

        &:first-child {
          margin: 0;
        }

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      span {
        width: 1px;
        height: 22px;
        background: rgba(0, 0, 0, 0.58);
        margin: 0 24px 0 24px;
      }
    }
  }

  .footer-list--wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;

    .list-column {
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      width: 180px;

      &:first-child {
        margin-left: 0px;
      }

      .list-of-item {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    border-top: 0;
    margin-top: 0;
    padding: 0 20px;
  }

  .footer-list--wrapper {
    display: none !important;
  }

  .social-media--rules {
    flex-direction: column;
    justify-content: space-between;
    height: 150px;

    span {
      display: none;
    }
  }
}

@media (min-width: 1441px) and (max-width: 1919px) {
  .footer {
    padding: 48px 7% 32px 11.4%;
  }
}

@media (min-width: 1920px) {
  .footer {
    padding: 48px 7% 32px 2.7%;
  }
}