@use "../../utils/colors";

.rewards--wrapper {
    width: 100%;
    position: relative;

    .rewards--header {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        background-color: #1e3932;
        color: white;
        font-size: 0.55rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0 40px 0 131px;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 12%), 0 0 2px 0 rgb(0 0 0 / 24%);
        position: sticky;
        top: 80px;
        z-index: 2;
    }

    .rewards--join {
        background-color: rgb(212, 233, 226);
        background-image: url(../../imgs/rewards/unnamed.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 39.5vw;
        color: rgba(0, 0, 0, 0.87);

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        padding-left: 240px;

        h2 {
            font-size: 36px;
            font-weight: 600;
        }

        p {
            color: rgba(0, 0, 0, 0.87);
            font-size: 19px;
            padding: 16px 0 32px;
            font-weight: 500;
        }

        a {
            text-decoration: underline;
        }
    }

    .stars--wrapper {
        background-color: #f3faf7;
        width: 100%;
        height: 194px;

        h2 {
            text-align: center;
            padding-top: 40px;
            font-size: 32px;
            font-weight: 600;
        }

        ul {
            padding-top: 63px;
            text-align: center;
            height: 60px;

            li {
                font-size: 28px;
                font-weight: 500;
                display: inline;
                padding: 0 20px 0 20px;
                color: #000;
                padding-bottom: 5px;
                cursor: pointer;

                span {
                    color: #cba258;
                    font-size: 16px;
                }
            }
        }
    }

    .rewards-section {
        margin-top: 40px;
        margin-bottom: 40px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .rewards-title {
            width: 65%;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
        }

        p {
            padding-top: 16px;
            font-size: 17px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.87);
        }

        .rewards-steps {
            padding-top: 48px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            margin: 0 50px;

            .rewards-item {
                width: 28.3%;

                img {
                    width: 112px;
                }

                span {
                    display: inline-block;
                    color: #00754a;
                    font-size: 25px;
                    font-weight: 700;
                    border: #00754a solid 2px;
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    padding-top: 9px;
                }

                h3 {
                    font-size: 21px;
                    padding-top: 24px;
                    font-weight: 600;
                }

                p {
                    font-size: 18px;
                    letter-spacing: 0.2px;
                    padding-bottom: 16px;

                    a {
                        font-size: inherit;
                        font-weight: inherit;
                    }
                }

                a {
                    color: #00754a;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}

.rewards-section3 {
    background-color: #f2f0eb;
    padding: 48px 40px;

    hr {
        position: absolute;
        top: 60%;
        width: 50%;
    }

    .rewards-section {
        margin: 0 auto !important;
    }

    .rewards-steps {
        position: relative;
        height: 450px;
    }

    .rewards-title {
        width: 48%;
        padding-bottom: 64px;
    }

    .rewards-steps {
        display: flex;
        flex-flow: row wrap;
        margin: 0 !important;
        padding: 0 !important;
        justify-content: space-between !important;

        .rewards-item {
            width: 40% !important;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start !important;

            h3 {
                padding: 0 !important;
            }

            .section3-img {
                img {
                    max-height: 158px;
                    margin-right: 10px;
                }
            }

            .section3-text {
                display: flex;
                flex-direction: column;
                text-align: left;
            }

            &:nth-child(1) {
                width: 15% !important;
                height: 158px;
            }

            &:nth-child(4) {
                width: 15% !important;
                height: 158px;
            }

            img {
                object-fit: contain;
                display: block;
            }
        }

        .row {
            display: flex;
            flex-direction: row;
        }
    }
}

.rewards-section4 {
    padding-bottom: 100px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: flex-start !important;
    justify-content: space-between !important;
    height: 600px;
    width: 60%;

    button {
        margin-top: 20px;
        float: right;
    }

    .rewards-title {
        width: 80%;
        margin: 0 auto;
        text-align: left;

        a {
            color: #00754a;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.change--block {
    height: 285px;
    background-color: #d4e9e2;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 7px 9px -7px rgb(0 0 0 / 14%);
    align-items: center;
    width: 100%;

    img {
        width: 375px;
        height: 211px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        margin-top: 20px;
        height: 72px;
        width: 343px;
        font-size: 18px;
        color: #000;
    }
}

.rewards-section5 {
    background-color: #f9f9f9;
    margin: 0 !important;
    text-align: left !important;
    align-items: flex-start !important;
    padding: 48px 40px;

    h5 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 14px !important;
        padding-bottom: 32px;
        font-weight: 500;
    }

    .rewards-title-wrapper {
        display: flex;
        flex-wrap: wrap;

        h4 {
            color: rgba(0, 0, 0, 0.58);
            font-weight: 700;
            letter-spacing: 0.4px;
            font-size: 14px !important;
        }

        p {
            color: rgba(0, 0, 0, 0.87);
            font-weight: 500;
            font-size: 14px !important;

            a {
                color: #00a862;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .rewards-title {
            width: 50%;

            &:nth-child(1) {
                padding-bottom: 32px;
            }

            &:nth-child(2) {
                padding: 0 0 32px 32px;
            }

            &:nth-child(4) {
                padding-left: 32px;
            }
        }
    }
}

.change--block-text {
    padding-left: 50px;
}

.change--block-wrapper {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active--price {
    color: colors.$dark_green;
    border-bottom: 5px solid colors.$dark_green;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 46%;
}

@media (max-width: 440px) {
    .rewards-section4 {
        .rewards-title:nth-child(2) {
            margin-top: 50px !important;
        }
    }
}

@media (max-width: 767px) {
    .rewards-section2 {
        .rewards-title {
            width: 90% !important;
        }

        .rewards-steps {
            flex-direction: column;
            margin: 0 20px !important;

            .rewards-item {
                width: 100% !important;
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: flex-start;
                text-align: left;
                padding: 0 0 56px 130px;
                justify-content: flex-start;

                h3 {
                    padding: 0 !important;
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }

    .rewards-section3 {
        padding-left: 20px !important;

        .rewards-title {
            width: 90% !important;
        }

        .rewards-steps {
            .rewards-item {

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(6) {
                    width: 100% !important;
                    padding-bottom: 32px;
                }
            }
        }

        .line {
            top: 46% !important;
        }
    }

    .rewards-section4 {
        width: 100% !important;
    }

    .rewards-section5 {
        padding: 32px 20px !important;

        h5 {
            padding-bottom: 0 !important;
        }

        .rewards-title-wrapper {
            flex-direction: column;

            .rewards-title {
                width: 100%;
                padding: 0 !important;

                h4 {
                    margin-top: 32px;
                }
            }
        }
    }
}

@media (max-width: 1220px) {
    .rewards-section3 {
        .rewards-title {
            width: 80%;
        }

        .rewards-steps {
            align-items: flex-start !important;
            height: 100%;

            .rewards-item {
                width: 50% !important;

                &:nth-child(1),
                &:nth-child(4) {
                    width: 100% !important;
                    height: auto;
                    padding: 0 0 32px 0 !important;

                    p {
                        padding: 0 !important;
                    }
                }

                &:nth-child(4) {
                    margin-top: 48px;
                }
            }
        }

        .line {
            top: 50%;
        }
    }
}

@media (min-width: 1441px) {
    .rewards-steps {
        width: 78%;
    }

    .rewards-section5 {
        padding: 48px 12.5%;
    }

    .rewards--header {
        padding: 30px 240px !important;
    }
}

@media (max-width: 1441px) {
    .rewards--join {
        padding-left: 120px !important;
    }
}

@media (max-width: 1546px) {
    .rewards-section3 {
        .rewards-steps {
            width: 100%;
        }
    }
}

@media (max-width: 435px) {
    .rewards--header {
        padding-left: 20% !important;

        h1 {
            width: 255px;
        }
    }

    .rewards--join {
        justify-content: space-between !important;
        height: 245px !important;
        padding: 0 !important;
        font-size: 10px;

        h2 {
            text-align: center;
            font-weight: bold !important;
            padding: 25px 0 0 10px;
            font-size: 25px !important;
        }

        p {
            display: none;
        }

        button {
            margin: 0 0 40px 20px;
            font-size: 14px !important;
        }
    }

    .rewards-section1 {
        .rewards-section {
            .rewards-steps {
                margin: 0 10px !important;
                flex-direction: column;

                .rewards-item {
                    width: 100% !important;
                    display: flex;
                    align-items: baseline;
                    flex-wrap: wrap;

                    span {
                        margin-right: 15px;
                    }

                    p {
                        text-align: left;
                        margin-left: 70px;
                    }
                }
            }
        }
    }

    .stars--wrapper {
        width: 100%;

        h2 {
            font-size: 25px !important;
        }

        .stars--list {
            li {
                padding-bottom: 13px !important;
                padding-right: 10px !important;
                padding-left: 10px !important;
            }
        }
    }

    .change--block {
        height: 350px !important;

        .change--block-wrapper {
            flex-direction: column;

            .change--block-text {
                padding-left: 10px !important;

                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .change--block {
        img {
            width: 320px !important;
        }
    }

    .change--block-text {
        padding: 0 !important;
    }

    .stars--list {
        li {
            padding: 0 !important;
        }
    }
}